@irsyadadl:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${PARANOID_GH_TOKEN}
//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
registry=https://registry.npmjs.org/
always-auth=true
